@font-face {
    font-family: 'GothamExtraLight';
    src: url("Gotham-ExtraLight.eot");
    src: local("Gotham Extra Light"), local("Gotham-ExtraLight"), url("../fonts/Gotham-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-ExtraLight.woff2") format("woff2"), url("../fonts/Gotham-ExtraLight.woff") format("woff"), url("../fonts/Gotham-ExtraLight.ttf") format("truetype"), url("../fonts/Gotham-ExtraLight.svg#Gotham-ExtraLight") format("svg");
    font-weight: 200;
    font-style: normal;
}

