/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* webfonts */
@font-face{
    font-family: "lacma-bold-webfont";
    src: url("fonts/lacma-bold-webfont.woff") format("woff");
}

@font-face{
    font-family: "gothammedium_1-webfont";
    src: url("fonts/gothammedium_1-webfont.woff") format("woff");
} 

@font-face{
    font-family: "gothambook-webfont"; 
    src: url("fonts/gothambook-webfont.woff") format("woff");
}
        
        
/* Custom Code for LACMA Nov 2020 */
body {
    color: #ffffff;
    background: #000;
    font-size: 13px;
    font-weight: 300;
    font-family: gothambook-webfont;
}

main {
    margin: 0 auto;
    text-align: center;
    padding-top: 2%;
    margin-bottom: 45px;
}

video {
    width: 95.8vw;
    height: 100%;
}

.mainVideo {
    margin-bottom: 3vw;
}

.arrowVideo {
    margin-bottom: 13.067vw;
}
.rsvp {
    width: 17vw;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-family: gothambook-webfont;
    font-size: 20px;
    letter-spacing: 1.6px;

    cursor: pointer;
    outline: none;
    background: transparent;
    color: #ffffff;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
    padding: 10px 25px;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.committee {
    display: block;
    margin-bottom: 28px;
}

ul {
    letter-spacing: 0.03em;
    text-align: center; 
}

li {
    line-height: 0.8;
    margin-bottom: 9px;
}

@media (min-device-width: 601px) {
    main {
        max-width: 1080px;
        width: 30.6vw;
        padding-top: 0;
    }
    
    video {
        width: 100%;
    }

    .mainVideo {
        margin-bottom: 1vw;
    }

    .arrowVideo {        
        margin-bottom: 4.3vw;
    }

    .rsvp {
        width: 65px;
        height: 27px;
        font-size: 20px;
        border-width: 2px;
        padding: 11px 25px 4px;
    }

    .rsvp:hover {
        color: #000000;
        background: #ffffff;
    }

    li {
        margin-bottom: 14px;
    }
}