/*******************************************************
 * anitayalonso.com - la-boda
 ******************************************************/

#la-boda {
	.left-column {
		width: 245px;
	}

	.right-column {
		width: 624px;
	}

  .waze {
    color: $turquoise;
  }
}