/*******************************************************
 * Febrero 2016 - Estilos generals para anitayalonso.com
 ******************************************************/

#nuestro-viaje {
	.left-column {
		width: 400px;
		text-align: left;
	}

	.right-column {
		width: 469px;
	}
}