#formularioWrapper,
#formularioInnerWrapper {
	border-radius: 15px;
	-moz-border-radius: 15px;
	border: solid 5px #FFFFFF;
}	
	
#formularioWrapper {
	width: 561px;
	display: none;
	padding: 30px;
	position: relative;
	font-size: 85%;
	line-height: 17px;
}
#formularioInnerWrapper {
	padding: 35px;
	background: url(../images/bg-regards.jpg);
}
#formularioInnerContainer {
	color: #444;
	font-size: .9em;
	font: 14px/21px "Libre Baskerville", serif;
	text-shadow: 1px 1px 0 #F5E4CE;
}
.formularioColumnaIzquierda {
	float: left;
	width: 190px;
	margin-bottom: 15px;
}
.formularioColumnaDerecha {
	float: left;
	width: 290px;
}
.formularioColumnaDerecha input {
	width: 290px;
}
textarea#mensajeParaNovios {
	width: 478px;
	height: 70px;
	resize: none;
	font-family: Arial, Helvetica, sans-serif;
}
#formularioOpcionesSeleccionadas span {
	margin-left: 40px;
}
.close {
	top: 9px;
	right: 9px;
	width: 22px;
	height: 22px;
	color: #FFFFFF;
	font-size: 22px;
	cursor: pointer;
	position: absolute;
}

#formularioInnerContainer input[type="submit"] {
	width: 100px;
	display: block;
	margin: 0 auto;
	text-decoration: underline;
}

#regaloSeleccionado, 
#montoADepositar {
	font-weight: bold;
	text-decoration: underline;
}
/* Email has been sent - Lighbtox */
#sentWrapper {
	padding: 30px;
	width: 360px;
	display: none;
	font-size: 85%;
	line-height: 17px;
	text-align: center;
	position: relative;
	border-radius: 15px;
	-moz-border-radius: 15px;
	border: solid 5px #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
}

/* Lista de Regalos - segun estado */
.disponible {
	opacity: 1;
}

.reservado,
.regalado {
	opacity: 0.5;
}

.contentContainer .listContainer .listItem.reservado .button,
.contentContainer .listContainer .listItem.regalado .button {
	display: none;
}

.contentContainer .listContainer .listItem.reservado .price,
.contentContainer .listContainer .listItem.regalado .price {
	width: 20%;	
}

.reservado .price:after {
	content: "  RESERVADO";
}

.regalado .price:after {
	content: "  REGALADO";
}