/* GLOBAL STYLES
-------------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*************** End CSS Reset ***************/

body {
  color: #000;
  margin: 0 auto;
  line-height: 1;
}

a {
  color: #000;
}

#root {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Urbanist', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

main {
  padding: 1rem;
  border-top: solid 1px #cbd5e1;
  border-bottom: solid 1px #cbd5e1;
  background-color: #f1f5f9;

  ul {
    display: block;
  }

  h2,
  h3 {
    font-weight: bold;
    padding: 1rem 0;
  }

  p {
    margin-bottom: 2rem;
  }
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 960px) {
  #root {
    max-width: 65vw;
  }

  main {
    border-radius: 0.375em;
    border: solid 1px #cbd5e1;
  }
}
