@font-face {
	font-family: 'GothamExtraLight';
	src: url('../fonts/Gotham-ExtraLight.eot');
	src: local('Gotham Extra Light'), local('Gotham-ExtraLight'),
		url('../fonts/Gotham-ExtraLight.eot') format('embedded-opentype'),
		url('../fonts/Gotham-ExtraLight.woff2') format('woff2'),
		url('../fonts/Gotham-ExtraLight.woff') format('woff'),
		url('../fonts/Gotham-ExtraLight.ttf') format('truetype'),
		url('../fonts/Gotham-ExtraLight.svg#Gotham-ExtraLight') format('svg');
	font-weight: 200;
	font-style: normal;
}


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GENERAL STYLES
-------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    font-family: Arial, sans-serif;
    margin:0;
    font-size: 20px;
    font-family: 'GothamExtraLight';
}


.webgl{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 0;
}

h1{
    color: #939191;
    font-weight: 400;
    font-size: 9vw;
    margin-bottom: 1.2vh;

    @media only screen and (min-width: 768px) {
        font-size: 2.6vw;
        margin-bottom: 1.3vh;
    }

    @media only screen and (min-width: 1920px) {
        font-size: 50px;
    }
}

h2 {
    color: #0a0a0a;
    font-size: 6vw;
    
    @media only screen and (min-width: 768px) {
        font-size: 1.6vw;
    }

    @media only screen and (min-width: 1920px) {
        font-size: 31px;
    }
}

h3 {
    color: #0a0a0a;
    font-size: 5.5vw;
    
    @media only screen and (min-width: 768px) {
        font-size: 1.6vw;
    }

    @media only screen and (min-width: 1920px) {
        font-size: 21px;
    }

}

a {
    text-decoration: none;
     
}


/* Navigation Styles */
/* NAVIGATION STYLES
-------------------------------------------------- */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 2vh 1.5vw;

    @media only screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: [nav] 20% [description] 70%;
    }
}

.mainTitle {
    margin-bottom: 3.5vh;
}

.projectDescription {
    padding-top: 1vh;
}

.projects {
    font-size: 1.7vw;
    /* margin-left: 20px;  */
}
  
.projects li {
    list-style: none;
    margin-top: 4vw;
    letter-spacing: 0.22em; 

    @media only screen and (min-width: 768px) {
        margin-top: 1.6vw;
    }

    @media only screen and (min-width: 1920px) {
        margin-top: 30.72px;
    }
}

.projects a {
    font-size: 4vw;

    @media only screen and (min-width: 768px) {
        font-size: 1.6vw;
    }

    @media only screen and (min-width: 1920px) {
        font-size: 21px;
    }
}

a {
    color: rgb(137, 136, 143);
    padding: 3px 4px;
    margin-right: 15px;
    text-decoration: none; 
}
  
a:hover, a.active  {
    color: #000;
    cursor: pointer;
    font-weight: bold;
}