/* GENERAL STYLES
-------------------------------------------------- */
body{
    margin:0;
    font-size: 20px;
    font-family: 'GothamExtraLight';
}

canvas {
    display: block;
}

span {
    color: #999999; 
}

h1{
    color: #939191;
    font-size: 4vw;
    
    // Desktop version
    @media only screen and (min-width: 768px) {
        font-size: 1.25vw;
    }

    // Large screen desktop version
    @media only screen and (min-width: 1920px) {
        font-size: 1.5rem;
    }
}

h2 {
    color: #0a0a0a;
    font-size: 3vw;
    
    // Desktop version
    @media only screen and (min-width: 768px) {
        font-size: 2.6vw;
    }
}

.mainTitle {
    width: 100%;
    position: fixed;
    padding: 1vh 5vw;
	border-bottom: solid 1px #C0C0C0;
}