@font-face {
	font-family: 'GothamExtraLight';
	src: url('../public/fonts/Gotham-ExtraLight.eot');
	src: local('Gotham Extra Light'), local('Gotham-ExtraLight'),
		url('../public/fonts/Gotham-ExtraLight.eot') format('embedded-opentype'),
		url('../public/fonts/Gotham-ExtraLight.woff2') format('woff2'),
		url('../public/fonts/Gotham-ExtraLight.woff') format('woff'),
		url('../public/fonts/Gotham-ExtraLight.ttf') format('truetype'),
		url('../public/fonts/Gotham-ExtraLight.svg#Gotham-ExtraLight') format('svg');
	font-weight: 200;
	font-style: normal;
}
