/* NAVIGATION STYLES
-------------------------------------------------- */
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    z-index: 1000;
    padding: calc(2vw + 2vh + 2vmin);
}

.mainTitle {
}

.projectList {
}
  
.projectList li {
    margin-top: 20px; 
    list-style: none;
}
  
.submenu {
    margin-left: 20px; 
}

.submenu li {
    font-size: 15px;
    margin-top: 12px;
    letter-spacing: 0.1em; 
}

a {
    color: rgb(137, 136, 143);
    padding: 3px 4px;
    margin-right: 15px;
    text-decoration: none; 
}
  
a:hover {
    color: #000;
    cursor: pointer;
}